.hero-more-trips {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet-width) {
    left: 0;
    top: 42.276vw;

    gap: 1.404vw;
  }
}

.hero-more-trips_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.125vw;
  height: 3.125vw;

  fill: $link-color;

  border-radius: 50%;
  background-color: $background-color;
  opacity: 0.79;

  box-shadow: $link-shadow;

  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform border;

  @media screen and (min-width: $tablet-width) {
    width: 3.125vw;
    height: 3.125vw;
  }

  &:hover {
    transform: scale(1.2);
    border: solid 0.052vw $accent-color;

    & svg {
      fill: $accent-color;
    }

    & + .hero-more-trips_text {
      transform: scale(1.1);
      color: $accent-color;
    }
  }

  &.pulse {
    & svg {
      fill: $accent-color;
    }
  }

  & svg {
    fill: $link-color;
    width: 3.125vw;
    height: 3.125vw;
  }
}

.hero-more-trips_text {
  line-height: 1.27;
  text-transform: capitalize;

  color: $link-color;

  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform color;

  @media screen and (min-width: $tablet-width) {
    font-size: 1.352vw;
  }

  &:hover {
    color: $accent-color;

    // & ~ .hero-more-trips_button {
    //   fill: $accent-color;
    //   border: solid 0.052vw $accent-color;
    //   animation: $pulse-animation;
    // }
  }
}
