.hero-gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-gallery_list {
  display: inline-flex;
  gap: 0.008vw;
}

.hero-gallery_item {
  @media screen and (min-width: $tablet-width) {
    width: 19.01vw;
  }
}

.hero-gallery_image {
  width: 100%;
}

.hero-gallery_pagination {
  position: absolute;
  top: 5.417vw;
  right: 2.6vw;

  &.pagination {
    display: flex;
    align-items: center;
    gap: 0.573vw;
  }

  & .pagination_text {
    line-height: 1.27;

    color: $accent-color;

    background-color: $background-color;
    opacity: 0.79;

    box-shadow: $pagination-text-shadow;

    @media screen and (min-width: $tablet-width) {
      max-height: 3.125vw;
      padding: 0.677vw 1.302vw 0.729vw;

      font-size: 1.354vw;

      border-radius: 2.917vw;
    }
  }

  & .pagination_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125vw;
    height: 3.125vw;

    border-radius: 50%;
    background-color: $background-color;
    opacity: 0.79;

    box-shadow: $button-shadow;

    &.forward {
      transform: rotate(-90deg);
    }

    &.back {
      transform: rotate(90deg);
    }

    &:disabled {
      opacity: 0;
    }

    & svg {
      fill: $accent-color;
      width: 3.125vw;
      height: 3.125vw;
    }
  }
}
