<div class="hero-gallery">
  <ul class="hero-gallery_list">
    <li class="hero-gallery_item">
      <img
        class="hero-gallery_image"
        srcset="
          /src/images/countries/vietnam/gallery/vietnam-bridge.webp   1x,
          src/images/countries/vietnam/gallery/vietnam-bridge@2x.webp 2x
        "
        src="/src/images/countries/vietnam/gallery/vietnam-bridge-def.jpg"
        min-width="320"
        alt="A pedestrian bridge standing on stone hands"
        title="A bridge"
        loading="lazy"
      />
    </li>
    <li class="hero-gallery_item">
      <img
        class="hero-gallery_image"
        srcset="
          /src/images/countries/vietnam/gallery/boat.webp   1x,
          src/images/countries/vietnam/gallery/boat@2x.webp 2x
        "
        src="/src/images/countries/vietnam/gallery/boat-def.jpg"
        min-width="320"
        alt="A boat with the woman on the lake"
        title="A boat"
        loading="lazy"
      />
    </li>
    <li class="hero-gallery_item">
      <img
        class="hero-gallery_image"
        srcset="
          /src/images/countries/vietnam/gallery/waterfalls.webp   1x,
          src/images/countries/vietnam/gallery/waterfalls@2x.webp 2x
        "
        src="/src/images/countries/vietnam/gallery/waterfalls-def.jpg"
        min-width="320"
        alt="Waterfalls in the mountains"
        title="Waterfalls"
        loading="lazy"
      />
    </li>
  </ul>
  <div class="hero-gallery_pagination pagination">
    <button class="pagination_button back" type="button" title="back by one">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#arrow"></use>
      </svg>
    </button>
    <p class="pagination_text">See more photos</p>
    <button
      class="pagination_button forward"
      type="button"
      title="forward by one"
    >
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#arrow"></use>
      </svg>
    </button>
  </div>
</div>
