<ul class="socials_list">
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://www.facebook.com/"
      title="facebook"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="socials_el">
        <svg class="socials_icon" width="17" height="32">
          <use href="/src/images/sprite.svg#facebook"></use>
        </svg>
      </div>
      <div class="socials_hover-el">
        <svg width="27" height="30">
          <use href="/src/images/sprite.svg#share"></use>
        </svg>
        <p>Facebook</p>
      </div>
    </a>
  </li>
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://twitter.com/"
      title="twitter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="socials_el">
        <svg class="socials_icon" width="39" height="32">
          <use href="/src/images/sprite.svg#twitter"></use>
        </svg>
      </div>

      <div class="socials_hover-el">
        <svg width="27" height="30">
          <use href="/src/images/sprite.svg#share"></use>
        </svg>
        <p>Twitter</p>
      </div>
    </a>
  </li>
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://www.instagram.com/"
      title="instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="socials_el">
        <svg class="socials_icon" width="32" height="32">
          <use href="/src/images/sprite.svg#instagram"></use>
        </svg>
      </div>

      <div class="socials_hover-el">
        <svg width="27" height="30">
          <use href="/src/images/sprite.svg#share"></use>
        </svg>
        <p>Instagram</p>
      </div>
    </a>
  </li>
</ul>
