<ul class="socials_list">
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://www.facebook.com/"
      title="facebook"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="socials_icon" width="17" height="32">
        <use href="/src/images/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://twitter.com/"
      title="twitter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="socials_icon" width="39" height="32">
        <use href="/src/images/sprite.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li class="socials_item">
    <a
      class="socials_link"
      href="https://www.instagram.com/"
      title="instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="socials_icon" width="32" height="32">
        <use href="/src/images/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
</ul>
