<ul class="socials">
  <li class="socials_item">
    <a href="" class="socials_link" title="facebook">
      <svg class="socials_icon" width="" height="">
        <use href="../../images/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="socials_item">
    <a href="" class="socials_link" title="twitter">
      <svg class="socials_icon" width="" height="">
        <use href="../../images/sprite.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li class="socials_item">
    <a href="" class="socials_link" title="instagram">
      <svg class="socials_icon" width="" height="">
        <use href="../../images/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
</ul>
