.page {
  scroll-behavior: smooth;

  margin: 0;
  padding-left: 1vw;
  padding-right: 1vw;

  border-color: $background-color;

  @media screen and (min-width: $tablet-width) {
    padding-left: 1.82vw;
  }
}
