<section class="hero">
  <div class="hero_container">
    <h1 class="hero_title">
      Mekong <br />Delta<br />
      Tour,<span class="hero_title_accent">Vietnam</span>
    </h1>
    <article class="hero_article">
      <p class="hero_text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo
      </p>
      <button class="hero_button" type="button">Book Now</button>
    </article>
    {{>hero-gallery}}
  </div>
</section>
